.background-top {
	min-height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/Background/APOD_13April.png');
	/*Possible pic of day*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.gmt {
	font-size: 18px;
	margin: 0 0 15vh 5px;
	text-shadow: 1px 1px 3px black;
}

.box {
	width: 100%;
	text-align: center;
}

.box h1 {
	font-size: 90px;
	text-shadow: 3px 3px 8px black;
}

.navigation-home li {
	font-size: 45px;
	margin: 50px 0;
}

@media only screen and (min-width: 1023px) {
	.navigation-home {
		display: flex;
		justify-content: space-evenly;
		padding: 10px;
		align-items: center;
		list-style: none;
		font-size: 50px;
	}
}

.link {
	text-decoration: none;
	text-shadow: 2px 2px 6px black;
}

.link:active {
	color: #01a7c2;
}

.link:hover {
	color: #01a7c2;
}

.people-in-space {
	position: fixed;
	left: 5px;
	bottom: 5px;
	font-size: 18px;
	text-shadow: 1px 1px 3px black;
}
